body{
	background: #FBFBFB;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
input,img{
	border:none;
}
#header{
	position: relative;
	width:1180px;
	height:77px;

	margin: 0 auto;
}
#header .logo  a{
	position:absolute;
	top:15px;
	left:4px;
	display:block;
	width:160px;
	height:54px;
	background: url(../images/index_sp.png) 0 -43px no-repeat;
	cursor:pointer;
}
/*搜索区域开始*/
#header .search{
	position: absolute;
	top:19px;
	left:311px;
	width:448px;
	height:39px;
}
/*搜索框开始*/
#header .search .search_text{
	position: absolute;
	width:358px;
	height:39px;
	text-indent:10px;
	color:#C4C4C4;
	border:1px solid #24BAF1;
}
/*搜索框结束*/
/*rank-icon开始*/
#header .search .rank-icon{
	position: absolute;
	left:333px;
	top:10px;
	width:17px;
	height:17px;
	background: url(../images/index_sp.png) -210px -70px no-repeat;
}
/*rank-icon结束*/
/*搜索按钮开始*/
#header .search .btn{
	position: absolute;
	left:358px;
	top:0px;
	width:90px;
	height:41px;
	color: #FBFBFB;
	border:1px solid #24BAF1;
	background: #24BAF1;
	cursor:pointer;
}
/*搜索按钮结束*/

/*搜索区域结束*/

